@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

.FooterContainer{
    background-color:  #2C3B6F;
    height: 287px;
    .InfoCont{
        padding: 80px;
        display: flex;
        justify-content: space-around;
        color: #ffffff;
        div{
            width: 20%;
            h3{
                font-family: 'Inter', sans-serif;
                padding-bottom: 10px;
                &:hover{
                    cursor: pointer;
                    text-decoration: underline;
                }
            }
            p{
                padding-bottom: 5px;
                font-family: 'Jura', sans-serif;
                &:hover{
                    cursor: pointer;
                    text-decoration: underline;
                }
            }
            svg{
                margin: 10px;
                &:hover{
                    cursor: pointer;
                    text-decoration: underline;
                }
            }
        }
    }
}

@media(max-width:600px){
    .FooterContainer{
        display: block;
        margin-left: 100%;
        width: 400px;
        height: fit-content;
        .InfoCont{
            display: flex;
            flex-direction: column;
        }
    }   

}