@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300;400&display=swap');


.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 4rem;
    width: 71%;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    top: 145%;
    text-align: center;
    font-family: 'Jura', sans-serif;
    font-weight: 400;
    figure {
        border: 1px solid black;
        background-color: white;
        border-radius: 5px;
        height: 300px;
        figcaption {
            margin-top: 6%;
            margin-bottom: 18%;
            font-size: 2rem;
            color: #002BC2;

        }
        p {
            max-width: 80%;
            margin: auto;
            padding-bottom: 10%;
        }
    }
}